<article class="listing">
  <img src="{{vegetable.image}}" alt="">
  <h3>{{vegetable.title}}</h3>
  <div class="detail sun">
    <span>Type of Sun:</span> {{vegetable.sun}}
  </div>
  <div class="detail type">
    <span>Planting Season:</span> {{vegetable.plantingseason}}
  </div>
</article>
